<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Share_ths_ai_detail">

	<select id="getChangeList" resultType="com.good.task01.entity.ShareDetailEntity" parameterType="com.good.task01.entity.ShareQuery">
			SELECT id,types as type FROM
            (SELECT t8.id, t8.type,t8.code,t89.code AS amm,-1 AS types
              FROM (SELECT * FROM Share_ths_ai_detail WHERE day=#{startDay} AND hour=#{startHour}) t8
            LEFT join (SELECT code,name FROM Share_ths_ai_detail t89 WHERE day=#{endDay} AND hour=#{endHour}) t89
            ON  t89.name=t8.name AND t89.code =t8.code) t WHERE amm IS null
            UNION all
            SELECT id,type FROM
            (SELECT t8.id, t8.type,t8.code,t89.code AS amm,1 AS types
               FROM (SELECT * FROM Share_ths_ai_detail WHERE day=#{endDay} AND hour=#{endHour}) t8
            LEFT join (SELECT code,name FROM Share_ths_ai_detail t89 WHERE day=#{startDay} AND hour=#{startHour} ) t89
            ON  t89.name=t8.name AND t89.code =t8.code) t WHERE amm IS null
	</select>

	<update id="updateDelType" parameterType="com.good.task01.entity.ShareQuery">
        update Share_ths_ai_detail set pop=1
        WHERE id IN
        <foreach collection="ids" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
	</update>

	<update id="updateAddType"  parameterType="com.good.task01.entity.ShareQuery">
        update Share_ths_ai_detail set push=1
        WHERE id IN
        <foreach collection="ids" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
	</update>

	<select id="getEndDetail" resultType="Integer" parameterType="com.good.task01.entity.ShareQuery">
		SELECT count(1) FROM ${} t1 where day=#{endDay} AND hour=#{endHour}
	</select>

</mapper>