<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Share_ths_ai_detail">

	<select id="getShareDetail" resultType="com.good.server.entity.share.ShareDetailInfo" parameterType="com.good.server.entity.share.ShareDetailInfo">
			SELECT id, name, share, code, amm, noDay, noHour
				FROM Share_ths_ai_detail t
				WHERE EXISTS ( SELECT 1 FROM
										(SELECT noDay,noHour
										FROM Share_ths_ai_detail t1
										WHERE id =(SELECT max(id) FROM Share_ths_ai_detail)) t2
								WHERE  t.noHour = t2.noHour AND t.noDay=t2.noDay)
  			  order by name,amm
	</select>

	<select id="getShareReportInfo" resultType="com.good.server.entity.share.ShareReportInfo" parameterType="com.good.server.entity.share.ShareReportInfo">
		SELECT * FROM ()
		select name, share, code ,sum(1) as num
		from Share_ths_ai_detail
		where noDay >= ${noDay}
		group by name, share, code ) ORDER  BY num
	</select>


</mapper>