<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Share_ths_ai_detail">

	<select id="getShareDetail" resultType="com.good.server.entity.share.ShareDetailInfo" parameterType="com.good.server.entity.share.ShareDetailInfo">
		SELECT t1.*,t4.tol FROM (
			SELECT id, type,name,code,ends,ranges,day,hour,pop,push
				FROM Share_ths_ai_detail t
				WHERE  t.day= #{day}
					<if test="hour!=0">
						and  t.hour =#{hour}
					</if>
					<if test="pop!=0">
						and pop=1
					</if>
					<if test="code!=null and code!='' ">
						and code=#{code}
					</if>
					<if test="push!=0">
						and push=1
					</if>
			) t1 LEFT JOIN (
					SELECT name,sum(succ) AS succ FROM Share_ths_ai_succ GROUP BY name
			) t2 ON t1.name = t2.name
			LEFT JOIN
				(SELECT name,type,code,count(1) AS tol FROM Share_ths_ai_detail t3 GROUP BY name,type,code) t4
				ON t1.name = t4.name AND t1.type=t4.type AND t4.code = t4.code
		ORDER BY t2.succ DESC, t4.tol DESC,t1.push ASC,t1.pop desc
	</select>

	<select id="getShareDetailList" resultType="com.good.server.entity.share.ShareDetailInfo" parameterType="com.good.server.entity.share.ShareDetailInfo">
		SELECT *
		FROM Share_ths_ai_detail t
		WHERE  t.code = #{code}
		<if test="day!=0">
			day >= #{day}
		</if>
		order by day, hour
	</select>
	<select id="getShareDetailIndex" resultType="com.good.server.entity.share.ShareDetailInfo" parameterType="com.good.server.entity.share.ShareDetailInfo">
		SELECT day, hour,count(1) AS id ,sum(pop) as pop,sum(push) as push
		FROM Share_ths_ai_detail t
		WHERE  t.hour = #{hour} AND t.day= #{day}
		GROUP by day, hour
	</select>
	<select id="getShareReportInfo" resultType="com.good.server.entity.share.ShareReportInfo" parameterType="com.good.server.entity.share.ShareReportInfo">
		SELECT * FROM (
		select name, type, code ,sum(1) as num,${day} as day
		from Share_ths_ai_detail
		where day >= ${day}
		group by name, type, code ) t ORDER  BY num desc
	</select>

	<select id="getShareDetailTime" resultType="com.good.server.entity.share.ShareDetailInfo" parameterType="com.good.server.entity.share.ShareDetailInfo">
		SELECT day,hour
		FROM Share_ths_ai_detail t1
		WHERE id =(SELECT max(id) FROM Share_ths_ai_detail)
	</select>

	<select id="getShareHisInfo" resultType="com.good.server.entity.share.ShareHisInfo" parameterType="com.good.server.entity.share.ShareHisInfo">
		SELECT code,t1.day,value,id FROM (
			SELECT code,day,ends as value FROM Share_ths_ai_his WHERE code = #{code}
			<if test="day!=0">
				day >= #{day}
			</if>
			) t1 LEFT JOIN (
			SELECT day,count(1) AS id FROM Share_ths_ai_detail t2 WHERE code = #{code} GROUP BY day) t3
		ON t1.day = t3.day ORDER BY t1.day
	</select>

</mapper>