<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sys_role">

	<select id="getRoleList" resultType="com.good.server.entity.system.RoleInfo" parameterType="com.good.server.entity.system.UserInfo">
			SELECT * FROM sys_role t1
	</select>


</mapper>