<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.2.xsd">
            
    
	<!-- 读取properties文件 -->  
   	<bean class="com.good.server.base.properties.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf/config.properties</value>
				<value>classpath:conf/log4j.properties</value>
				<value>classpath:conf/redis.properties</value>
			</list>
		</property>
	</bean>
    
     <context:annotation-config />
    
    <!-- Spring服务组件扫描(排除@Controller相关组件) -->
    <context:component-scan base-package="com.good.server" use-default-filters="false"></context:component-scan>
    
    <import resource="db.xml" />
	<!--<import resource="redis.xml"/>-->





</beans>
